.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
/archive
/artifacts
/shiny_app/app_artifacts/artifacts_list.rds
/shiny_app/app_artifacts/country_code_tbl.rds
/shiny_app/app_artifacts/product_code_tbl.rds

